
:root{
  --baseColor:#42454A;
  --secondColor:#282c34;
  --blackColor:#000;
}
.App {
  text-align: center;
}
/* Start NavBar */
.nav-head{
  background-color: #fff !important ;
  color: #000 !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;

}
.nav-list{

margin-left: 30%;
}

.App-logo {
  height:50px;
  width: 60px;
  pointer-events: none;
  color:var(--baseColor);
}


.App-header {
  background-color: var(--secondColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* End NavBar  */

/* Start Header Section  */

.header-title{
    
  font-weight: 100 !important;
  color: var(--baseColor);
  margin-left: 10px !important;
}
.header-title span{
  font-weight: bolder !important;
  color:#2e3036
}
.header-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;


}
.hr{
  width: 300px;
  height: 3px;
  background-color:var(--baseColor);
  border-radius: 1px;
  margin-left: 20px;
}

.para-header{
  font-weight: 100 !important;
  color:var(--baseColor);
  margin-left: 20px !important;
  margin-top: 35px !important;
}

.btn-buy{
  margin-left: 20px !important;
  margin-right: 50px !important;
}
.btn-text{
  margin-left: 10px !important;
  margin-top: 10px !important;
  

}

.work-text{
  width: 100px;
  color:var(--baseColor);

}

.img-header{
  background-image: url('../public/bg-scooter1.png');
  background-repeat: no-repeat;
  background-position: right;
}
.btn-group-slid{
  padding:60px;
  margin: auto;
  margin-left: 0px;
  width:'103px !important';
  height:'46px !important' ;
  color:'#fff !important';
  
}
.btn-slid{
  padding: 15px;
  /* color:var(--baseColor); */


}
.btn-slid:hover{
  color:#fff !important;
  background-color:var(--baseColor);
}
.header-end{
  margin: 20px;
  color:var(--baseColor);
  background-color: #F4F4F4;
  padding: 50px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width:100px;
  height:100px

}
.header-end :last-child{
  margin-left:0 ;
}
.header-end-title{

  font-weight: bolder !important;
}
.header-end-title span {
  font-size: 25px;
}

.header-end-text{
  width: 100px;
  font-size: 18px !important;
  font-weight: 200 !important;
}
/* End Header Section  */

/* Start Multiple Section  */
.multiple-golf{
  color:var(--baseColor);
  font-weight: bolder;
}
/* End Multiple Section */

/* Strat Gallery Section */
.btn-gallery{
  color:#42454A !important ;
  background:#fff !important;
  border:1px solid #42454A !important;
  width:400px;
  margin-top: 20px !important;
  padding:15px !important;

}
.btn-gallery:hover{
  color:#fff !important;
  background:#42454A !important;
  border:none !important;
}
/* End Gallery Section */
/* Start Color Section */
.img-tap {
  width: 150px;
  height: 150px;
  border-radius: 10px;

}
.img-panel{
  width: 450px;
  height: 400px;
  border-radius: 10px;
}
/* End Color Section */

/* Start Subscribe Section */
.title-sub{
  font-size:14px ;
  color:var(--baseColor);
  font-weight: bolder !important;

}
.text-sub{
  font-size: 18px !important;
  font-weight: 200 !important;
  color: var(--baseColor);

}
/* End Subscribe Section */


/* Customized Hooks */
.title-hook{
  color: var(--baseColor);
  

}
@media screen and (max-width: 560px) {
  .title-hook{
    font-size: 30px !important;
  }
  .text-hook{
    margin: auto !important;
    transform: translate(10px, 10px);

  }
  .img-scooter{
    width: 400px !important;
  }
  .img-mobile{
    width:270px !important;
  }
  .btn-mobile{
    margin: 0 !important;
    width: 40px !important;
  }
  .input-mobile{
    width:200px !important;
  }
  .header-title{
    margin-left: 0 !important;
  }
}

.text-hook{
  font-weight: 200 !important;
  color: var(--baseColor);
  margin: auto;

}




